<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                &copy; Copyright {{ .Site.Copyright }}
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                <a target="_blank" rel="noopener" href="https://www.wowthemes.net">Mediumish Theme</a> by WowThemes.net
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                </a>
                <br />
                <small>
                    Except where otherwise noted, all original content on this site by 
                    <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.douglashellinger.com/" property="cc:attributionName" rel="cc:attributionURL">Douglas Hellinger</a> 
                    is licensed under a 
                    <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                </small>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
